@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --text-title-1: 4.5rem;
  --text-title-2: 4rem;
  --text-title-3: 3.5rem;

  --text-heading-1: 3.5rem;
  --text-heading-2: 3rem;
  --text-heading-3: 2.5rem;
  --text-heading-4: 2rem;
  --text-heading-5: 1.5rem;
  --text-heading-6: 1.25rem;

  --text-body-1: 1.125rem;
  --text-body-2: 1rem;
  --text-body-3: 0.875rem;
  --text-body-4: 0.75rem;

  --text-label-1: 1rem;
  --text-label-2: 0.875rem;
  --text-label-3: 0.75rem;

  --text-caption-1: 0.625rem;
  --text-caption-2: 0.563rem;

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-green-950: #052e16;

  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;
  --color-purple-800: #6b21a8;
  --color-purple-900: #581c87;
  --color-purple-950: #3b0764;

  --color-neutral-50: #f3f7ff;
  --color-neutral-100: #cdd5e6;
  --color-neutral-200: #abb3c3;
  --color-neutral-300: #8a92a1;
  --color-neutral-400: #6b7280;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #545b6a;
  --color-neutral-700: #3d4555;
  --color-neutral-800: #283041;
  --color-neutral-900: #151d2d;
  --color-neutral-950: #040a1b;

  --color-danger-50: #ffddd9;
  --color-danger-100: #ffc9c2;
  --color-danger-200: #ffa299;
  --color-danger-300: #fb736b;
  --color-danger-400: #ef4444;
  --color-danger-600: #a8544e;
  --color-danger-700: #933f3a;
  --color-danger-800: #7a0510;
  --color-danger-900: #560000;
  --color-danger-950: #350002;

  --color-warning-50: #fff1b9;
  --color-warning-100: #e8d2a3;
  --color-warning-200: #eab308;
  --color-warning-300: #eab308;
  --color-warning-400: #ca9600;
  --color-warning-500: #a7842f;
  --color-warning-600: #8b6300;
  --color-warning-700: #684900;
  --color-warning-800: #4a3200;
  --color-warning-900: #332000;
  --color-warning-950: #150900;

  --color-success-50: #ccffd5;
  --color-success-100: #b9e2c0;
  --color-success-200: #75ce88;
  --color-success-300: #22c55e;
  --color-success-400: #22c55e;
  --color-success-500: #57a669;
  --color-success-600: #00862a;
  --color-success-700: #006719;
  --color-success-800: #004d0c;
  --color-success-900: #002a0d;
  --color-success-950: #001702;

  --color-primary-00: #f0f6ff;
  --color-primary-50: #d5e3f2;
  --color-primary-100: #95b8de;
  --color-primary-200: #4e89c8;
  --color-primary-300: #2b71bd;
  --color-primary-400: #245e9d;
  --color-primary-500: #1d4b7e;
  --color-primary-600: #15385e;
  --color-primary-700: #0e263f;

  --color-info: #007aff;

  --color-field-50: #f9f9fa;
  --color-field-100: #e7e9ed;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-size: 14px;
  line-height: 1.2;
}
